<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Appointments List</h1>
    <ul>
        {% for a in appointments %}
            <li>
                <span>{{ a.name }}</span>
                <span>{{ a.date }} at {{ a.time }}</span>
            </li>

        {% endfor %}
    </ul>vefbverfv

    <a href="/">← Back to Form</a>
</body>
</html>